<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<!-- appender 部分是可用的日志输出方式定义，可以定义多个 -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
	    	<param name="Encoding" value="UTF-8" />
			<param name="ConversionPattern" value="%p -- %l %d -- %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>

	<appender name="DEBUG" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${1.root}/logs/debug.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
	    	<param name="Encoding" value="UTF-8" />
			<param name="ConversionPattern" value="%p -- %l %d -- %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="DEBUG" />
		</filter>
	</appender>

	<appender name="INFO" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${1.root}/logs/info.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
	    	<param name="Encoding" value="UTF-8" />
			<param name="ConversionPattern" value="%p -- %l %d -- %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>

	<appender name="WARN" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${1.root}/logs/warn.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="Encoding" value="UTF-8" />
			<param name="ConversionPattern" value="%p -- %l %d -- %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="WARN" />
		</filter>
	</appender>

	<appender name="ERROR" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${1.root}/logs/error.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="Encoding" value="UTF-8" />
			<param name="ConversionPattern" value="%p -- %l %d -- %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>

	<root>
		<level value="WARN" />
		<appender-ref ref="DEBUG" />
		<appender-ref ref="INFO" />
		<appender-ref ref="WARN" />
		<appender-ref ref="ERROR" />
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="com.vector.tfriend" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="DEBUG" />
		<appender-ref ref="INFO" />
		<appender-ref ref="WARN" />
		<appender-ref ref="ERROR" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.vector.basic" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="DEBUG" />
		<appender-ref ref="INFO" />
		<appender-ref ref="WARN" />
		<appender-ref ref="ERROR" />
		<appender-ref ref="STDOUT" />
	</logger>    

</log4j:configuration> 